{% extends 'base.html.twig' %}

{% block body %}

    <table>
    <tr><td></td><td>Miasto</td><td>Dzielnica</td><td>Powierzchnia</td><td>Ludność</td></tr>
    <tr>
        <td>Sortowanie</td>
        <td><a href="/list/orderBy=city&orderDirection=asc">rosnaco</a> | <a href="/list/orderBy=city&orderDirection=desc">malejaco</a></td>
        <td><a href="/list/orderBy=name&orderDirection=asc">rosnaco</a> | <a href="/list/orderBy=name&orderDirection=desc">malejaco</a></td>
        <td><a href="/list/orderBy=area&orderDirection=asc">rosnaco</a> | <a href="/list/orderBy=area&orderDirection=desc">malejaco</a></td>
        <td><a href="/list/orderBy=population&orderDirection=asc">rosnaco</a> | <a href="/list/orderBy=population&orderDirection=desc">malejaco</a></td>
    </tr>

    {% for district in entity %}

    <tr>
        <td>{{ district.city }}</td>
        <td>{{ district.name }}</td>
        <td>{{ district.area }}</td>
        <td>{{ district.population }}</td>
    </tr>

    {% endfor %}

    </table>

{% endblock %}
